<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lepin.activity"
    android:versionCode="15"
    android:versionName="2.4debug" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <!-- 用户权限 -->
    <permission
        android:name="com.lepin.activity.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.lepin.activity.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- renren分享需要权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:name="com.lepin.CarSharingApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- UMENG_APPKEY 用来定位该应用程序的唯一性 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="528e0d6a56240bb52e05233f" />

        <!-- UMENG_CHANNEL 用来标注应用推广渠道，区分新用户的来源来查看统计，您可以使用20位以内的英文和数字为渠道定名，替换value中的"Channel ID" -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="pinchebang" />

        <!-- 微信回调Activity -->
        <activity
            android:name="com.lepin.util.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 人人分享需要 -->
        <activity
            android:name="com.renn.rennsdk.oauth.OAuthActivity"
            android:configChanges="orientation|navigation|keyboardHidden" />

        <!-- 发布－上下班 -->

        <activity
            android:name=".WorkFragmentActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 发布－长途 -->

        <activity
            android:name=".LongFragmentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".WelcomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 首页 -->
        <activity
            android:name=".CarSharingActivity"
            android:label="@string/title_activity_main2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PublishMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <!-- 我的发布 -->
        <activity
            android:name=".MyPublishActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UseClauseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PincheActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WeekSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChoiceAdrrActivity"
            android:screenOrientation="portrait" />
        <!-- 个人信息 -->
        <activity
            android:name=".PersonalInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyPersonalCentreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyPayPswSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchAdrrOnMapActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".SelectCityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".MyCashAccountSettingActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
             />
        <activity
            android:name=".MyCashAccountAddOrModifyActivity"
            android:screenOrientation="portrait" />
        
        <!--
             <activity
            android:name=".GuidePageActivity"
            android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".MyLoveCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyCarVeficActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyPublishDetailsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".MyPinCheMoneyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.alipay.android.app.sdk.WapPayActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SelectCarBrandActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdatePersonalInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddNewCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessageCenterActivity"
            android:allowTaskReparenting="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="com.lepin.activity.MessageCenterActivity" />
        <activity
            android:name=".CarServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CarServiceListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CarServiceDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CarDriverVerify"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 支付界面 -->
        <activity
            android:name=".PayActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 更多 -->
        <activity
            android:name=".MoreActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 设置 -->
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 分享线路 -->
        <activity
            android:name=".ShareActivity"
            android:screenOrientation="portrait" />

        <!-- 搜索路线，地图显示起始点 -->
        <activity
            android:name=".SearchWithMapActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 拼车详情，首页拼车计划进入 -->
        <activity
            android:name=".CarpoolWithCalendarActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PersonalInfoTrailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PincheTrailHerPublishLinesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PincheTrailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 我的常用拼车地点 -->
        <activity
            android:name=".MyCommonAddressActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 我的余额 -->
        <activity
            android:name=".MyBalanceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 余额充值 -->
        <activity
            android:name=".RechargeMoneyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 申请提现 -->
        <activity
            android:name=".ApplyToCashActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 拼车币明细 -->
        <activity
            android:name=".MyPinCheRecordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 使用拼车币抽奖 -->
        <activity
            android:name=".LotteryActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 创建一个应用程序独有的消息推送进程 -->
        <service
            android:name="com.lepin.service.MsgPushService"
            android:label="消息推送" />

        <!-- ==========================================百度地图服务=================================== -->

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <!--
                地图key   tanzhiqiang:3hzsZelFlvGt9GWek63088lr wangxiaohong:Qi1FznUgSPcAYoiawjgBgpzX 
                key   sZ5fCRHxgDB9a4s0amPxNGxE
                   打包发布时所用的key：Qi1FznUgSPcAYoiawjgBgpzX
        -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3hzsZelFlvGt9GWek63088lr" />

        <!-- ================================QQ空间和QQ SSO授权的Activity注册 ============================== -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.plus.ImageActivity" />
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- ###################注册SDK使用的Activity###################### -->
        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>

        <!-- 极光推送 -->
        <!-- Required -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000" >

                <!-- since 1.3.5 -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- since 1.3.5 -->
                <category android:name="com.lepin.activity" />
                <!-- since 1.3.5 -->
            </intent-filter>
            <!-- since 1.3.5 -->
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name="com.lepin.receiver.PushReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <category android:name="com.lepin.activity" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.lepin.activity" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。 -->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="13802ef4bdb5f019b28f7e70" />

        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Tests for My App"
        android:targetPackage="com.lepin.activity" />

</manifest>